[Unit]
Description=Quick Whisper Typer
After=network.target
[Service]
# you need screen installed otherwise we can't grab the keyboard apparently
ExecStart=/usr/bin/screen -dmS quickwhisperscreen [YOUR PYTHON3] quick_whisper_typer.py --loop # add your other args here
Restart=always
User=yourusername
WorkingDirectory=[PATH TO QUICKWHISPER]
Environment=PYTHONUNBUFFERED=1
[Install]
WantedBy=multi-user.target
