playsound>=1.3.0
fire>=0.5.0
pyclip>=0.7.0
pysimplegui>=4.60.5
# pyautogui>=0.9.54  # needed if you want to simulate a click of the mouse before typing
openai>=1.14.1
pynput>=1.7.6
plyer>=2.1.0
litellm>=1.32.1

# used to clean up audio
torchaudio>=2.2.0
soundfile>=0.12.1
numpy>=1.23.5
