playsound >= 1.3.0
fire >= 0.6.0
pyclip >= 0.7.0
pysimplegui == 4.60.5
openai >= 1.14.1
pynput >= 1.7.6
plyer >= 2.1.0
litellm >= 1.32.1
platformdirs  # for cache folder
uuid
piper-tts >= 1.2.0

# used to clean up audio
torchaudio >= 2.2.0
soundfile >= 0.12.1
numpy >= 1.26.4

deepgram-sdk >= 3.2.7  # audio file
